<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!--add name="EjemploPatronesSoftwareConnectionString" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=EjemploPatronesSoftware;Integrated Security=True" providerName="System.Data.SqlClient" /-->
    <add name="EjemploPatronesSoftwareConnectionString" connectionString="Data Source=C:\CapacitacionPatrones\Scripts\Sqlite\EjemploPatronesSoftware.db" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
</configuration>