<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFechaActualService" />
        <binding name="BasicHttpBinding_ICurrentDateTimeService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:32169/FechaActualService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFechaActualService" contract="FechaActualServiceReference.IFechaActualService" name="BasicHttpBinding_IFechaActualService" />
      <endpoint address="http://localhost:32170/CurrentDateTimeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrentDateTimeService" contract="CurrentDateTimeServiceReference.ICurrentDateTimeService" name="BasicHttpBinding_ICurrentDateTimeService" />
    </client>
  </system.serviceModel>
</configuration>